flows.json
[{"id":"fab1c394.b3666","type":"tab","label":"Bloco 09 Receive Data","disabled":false,"info":""},{"id":"d7c14ac6.e8dcb8","type":"tab","label":"Bloco 09 Post Data & SMS","disabled":false,"info":""},{"id":"d55e2e69.58932","type":"tab","label":"Teste","disabled":false,"info":""},{"id":"1e1177af.843738","type":"mqtt-broker","z":"","name":"gateway","broker":"localhost","port":"1882","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"66fe14a9.c7838c","type":"ui_group","z":"","name":"Adjustment Sensor","tab":"","disp":true,"width":"6","collapse":false},{"id":"4ec4d401.d1a53c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7d1237f9.f188d8","type":"mqtt-broker","z":"","name":"TB-Device-BL2","broker":"mqtt.ucontrol.net.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ff9ea49.695684","type":"mqtt-broker","z":"","name":"mqtt.ucontrol.net.br","broker":"mqtt.ucontrol.net.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b36ff1d7.23174","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"43d8ebb9.34b754","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eb589be.0833e6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a491f4f9.d59d68","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7ace3cf.647","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38e9908.ee3c77","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a542d85f.e362a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d9ce95ef.09b5d8","type":"ui_tab","z":"","name":"Sense Data","icon":"dashboard","order":0},{"id":"3da34b32.20d204","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"3883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8ddb817.d18058","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d17a9b58.1510a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a590344a.f228d8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.ucontrol.net.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c07627ec.5013a8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.ucontrol.net.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15cf4706.410859","type":"mqtt-broker","z":"","name":"","broker":"mqtt.ucontrol.net.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14052d1c.52f7c3","type":"ui_group","z":"","name":"Bloco 09 Sensor data","tab":"d9ce95ef.09b5d8","disp":true,"width":"6","collapse":false},{"id":"74d09cc5.fe3264","type":"ui_group","z":"","name":"Bloco 09 Actuation Status","tab":"d9ce95ef.09b5d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e48801dd.13dc9","type":"debug","z":"fab1c394.b3666","name":"Temp & Humi","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":115,"wires":[]},{"id":"d29417a7.652da8","type":"function","z":"fab1c394.b3666","name":"Global temp Cistern09","func":"context.global.tempCistern09 = parseInt(msg.payload);\nmsg.payload = context.global.tempCistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":158,"wires":[["e48801dd.13dc9","41408a54.1cefc4"]]},{"id":"67713a70.8338d4","type":"function","z":"fab1c394.b3666","name":"Global humi Cistern09","func":"context.global.humiCistern09 = parseInt(msg.payload);\nmsg.payload = context.global.humiCistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":72,"wires":[["e48801dd.13dc9","c7819805.419088"]]},{"id":"6f0a5bcc.7cc3b4","type":"mqtt in","z":"fab1c394.b3666","name":"Cistern 09 Level 1","topic":"/ucc/cist09/L1","qos":"2","broker":"4ff9ea49.695684","x":150,"y":547,"wires":[["6a1cd086.0ac74"]]},{"id":"2f7e9978.cc51b6","type":"mqtt in","z":"fab1c394.b3666","name":"Cistern 09 Level 2","topic":"/ucc/cist09/L2","qos":"2","broker":"4ff9ea49.695684","x":150,"y":457,"wires":[["f0488db2.7c94"]]},{"id":"6c37256a.f7715c","type":"mqtt in","z":"fab1c394.b3666","name":"Cistern 09 Level 3","topic":"/ucc/cist09/L3","qos":"2","broker":"4ff9ea49.695684","x":150,"y":370,"wires":[["4146e69c.ac4788"]]},{"id":"f8e50476.592408","type":"debug","z":"fab1c394.b3666","name":"Levels","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":352,"y":393,"wires":[]},{"id":"4146e69c.ac4788","type":"function","z":"fab1c394.b3666","name":"Global L3_Cistern09","func":"L3_Cistern09 = msg.payload;\nif (L3_Cistern09 == \"L3: Water Detected\") {\n    context.global.L3_Cistern09 = 1;\n}\nelse {\n    context.global.L3_Cistern09 = 0;\n}\nmsg.payload = context.global.L3_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":333,"wires":[["f8e50476.592408"]]},{"id":"f0488db2.7c94","type":"function","z":"fab1c394.b3666","name":"Global L2_Cistern09","func":"L2_Cistern09 = msg.payload;\nif (L2_Cistern09 == \"L2: Water Detected\") {\n    context.global.L2_Cistern09 = 1;\n}\nelse {\n    context.global.L2_Cistern09 = 0;\n}\nmsg.payload = context.global.L2_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[["f8e50476.592408"]]},{"id":"6a1cd086.0ac74","type":"function","z":"fab1c394.b3666","name":"Global L1_Cistern09","func":"L1_Cistern09 = msg.payload;\nif (L1_Cistern09 == \"L1: Water Detected\") {\n    context.global.L1_Cistern09 = 1;\n}\nelse {\n    context.global.L1_Cistern09 = 0;\n}\nmsg.payload = context.global.L1_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":508,"wires":[["f8e50476.592408"]]},{"id":"e31a4c06.ad507","type":"mqtt in","z":"fab1c394.b3666","name":"Cistern 09 Level 4","topic":"/ucc/cist09/L4","qos":"2","broker":"4ff9ea49.695684","x":150,"y":282,"wires":[["9e9bf1a9.4531a"]]},{"id":"9e9bf1a9.4531a","type":"function","z":"fab1c394.b3666","name":"Global L4_Cistern09","func":"L4_Cistern09 = msg.payload;\nif (L4_Cistern09 == \"L4: Water Detected\") {\n    context.global.L4_Cistern09 = 1;\n}\nelse {\n    context.global.L4_Cistern09 = 0;\n}\nmsg.payload = context.global.L4_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":245,"wires":[["f8e50476.592408"]]},{"id":"cecc4937.716d88","type":"mqtt in","z":"fab1c394.b3666","name":"Sensor Temp","topic":"/ucc/cist09/sensor/temp","qos":"0","broker":"4ff9ea49.695684","x":130,"y":195,"wires":[["d29417a7.652da8"]]},{"id":"270e7c90.ed9684","type":"mqtt in","z":"fab1c394.b3666","name":"Sensor Humi","topic":"/ucc/cist09/sensor/humi","qos":"0","broker":"4ff9ea49.695684","x":130,"y":108,"wires":[["67713a70.8338d4"]]},{"id":"4a792fce.0b7f1","type":"mqtt out","z":"d7c14ac6.e8dcb8","name":"","topic":"sensors/connect","qos":"","retain":"","broker":"f8ddb817.d18058","x":463,"y":89,"wires":[]},{"id":"14f5722a.cc53fe","type":"debug","z":"d7c14ac6.e8dcb8","name":"TB Connect","active":false,"console":"false","complete":"payload","x":454,"y":50,"wires":[]},{"id":"bd28661b.311098","type":"function","z":"d7c14ac6.e8dcb8","name":"Life Bloco 09","func":"var msg1 = {payload:{\"serialNumber\":\"watersystemBL09\"}};\n//\nreturn [msg1];\n//\n//return [msg1, msg2,msg3,msg4];","outputs":1,"noerr":0,"x":290,"y":69,"wires":[["4a792fce.0b7f1","14f5722a.cc53fe"]]},{"id":"e2f4d093.ff6ad","type":"inject","z":"d7c14ac6.e8dcb8","name":"TB Devices","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":"","x":130,"y":69,"wires":[["bd28661b.311098"]]},{"id":"ed731e78.cee","type":"comment","z":"d7c14ac6.e8dcb8","name":"Life Blocos TB Devices","info":"","x":140,"y":32,"wires":[]},{"id":"a7e3a248.7b255","type":"mqtt out","z":"d7c14ac6.e8dcb8","name":"watersystem","topic":"watersystem","qos":"","retain":"","broker":"f8ddb817.d18058","x":795,"y":544,"wires":[]},{"id":"ee24b069.8ad1e","type":"debug","z":"d7c14ac6.e8dcb8","name":"Publish BL09","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778,"y":498,"wires":[]},{"id":"f8f1646a.972e68","type":"function","z":"d7c14ac6.e8dcb8","name":"Life Bloco 09","func":"msg.payload = {\"serialNumber\":\"watersystemBL09\",\"csmon1\":context.global.pumper1_09_status,\"csmon2\":context.global.pumper2_09_status,\"waterlevel\":context.global.available_BL09_water,\"autostatus\":context.global.AutoStatus_Cistern09,\"sensorhumi\":context.global.humiCistern09,\"sensortemp\":context.global.tempCistern09};\nreturn msg;\n","outputs":1,"noerr":0,"x":617,"y":544,"wires":[["ee24b069.8ad1e","a7e3a248.7b255"]]},{"id":"1cfe232d.03b4bd","type":"inject","z":"d7c14ac6.e8dcb8","name":"Changed? ","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":539,"wires":[["2b717b56.9d9924","77b4a2be.4fefcc","26da32e8.8a4ebe","8b0b181d.1ddc58"]]},{"id":"475c4c33.01fc94","type":"mqtt in","z":"fab1c394.b3666","name":"BL09/autoB1","topic":"sensor/watersystemBL09/autoB1","qos":"2","broker":"f8ddb817.d18058","x":530,"y":100,"wires":[["e72df49f.ac3b88","1669fe3a.7819a2"]]},{"id":"335128fa.ea29d8","type":"mqtt in","z":"fab1c394.b3666","name":"BL09/autoB2","topic":"sensor/watersystemBL09/autoB2","qos":"2","broker":"f8ddb817.d18058","x":529,"y":160,"wires":[["e72df49f.ac3b88","5de8f243.2770ac"]]},{"id":"fffa7e58.5611c","type":"comment","z":"fab1c394.b3666","name":"From Things Board","info":"","x":550,"y":60,"wires":[]},{"id":"6f365c34.e1f184","type":"mqtt in","z":"fab1c394.b3666","name":"Dry","topic":"/ucc/cist09/pump1/dry","qos":"0","broker":"4ff9ea49.695684","x":510,"y":540,"wires":[["d7f370f.2f4179","618a2f3b.85e78"]]},{"id":"86b17cea.a6065","type":"mqtt in","z":"fab1c394.b3666","name":"Dry ","topic":"/ucc/cist09/pump2/dry","qos":"0","broker":"4ff9ea49.695684","x":512,"y":628,"wires":[["d7f370f.2f4179","adfecb5c.c939a8"]]},{"id":"29e53a2c.b7d226","type":"debug","z":"fab1c394.b3666","name":"Pumper1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":980,"y":560,"wires":[]},{"id":"d7f370f.2f4179","type":"debug","z":"fab1c394.b3666","name":"Pump Dry?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":676,"y":583,"wires":[]},{"id":"618a2f3b.85e78","type":"function","z":"fab1c394.b3666","name":"Pump1?","func":"pumper_Status = msg.payload;\nif (pumper_Status == \"Dry1: Water Detected on Pump_1\") {\n    context.global.pumper1_09_status = true;\n}\nelse {\n    context.global.pumper1_09_status = false;\n    }\nreturn msg;","outputs":1,"noerr":0,"x":665.9997253417969,"y":539.333062171936,"wires":[["c3a18ec4.01bc7"]]},{"id":"ed218495.08eb98","type":"inject","z":"d7c14ac6.e8dcb8","name":"Monitor","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":120,"y":260,"wires":[["dd265ff4.2b23f"]]},{"id":"f0222299.7c445","type":"switch","z":"d7c14ac6.e8dcb8","name":"Send SMS","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":260,"wires":[["da485266.82859"],["3b63b961.b85e36"]]},{"id":"1032004.6bc38","type":"rbe","z":"d7c14ac6.e8dcb8","name":"State Change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":461,"y":260,"wires":[["f0222299.7c445"]]},{"id":"da485266.82859","type":"function","z":"d7c14ac6.e8dcb8","name":"SMS Post Alarm","func":"context.global.normal_count_09 = context.global.normal_count_09 + 1;\nPythonPostParam=(context.global.pumper1_09_blocoid +\" \"+ context.global.alarm_msg_09);\nmsg.payload = PythonPostParam;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":644.8334846496582,"y":200.33327770233154,"wires":[["3d61a2bc.d9db8e","46c9fc77.ec4d74"]]},{"id":"3d61a2bc.d9db8e","type":"debug","z":"d7c14ac6.e8dcb8","name":"SMSs","active":false,"console":"false","complete":"payload","x":810,"y":180,"wires":[]},{"id":"e4048703.12f558","type":"function","z":"d7c14ac6.e8dcb8","name":"SMS Post Normal","func":"PythonPostParam=(context.global.pumper1_09_blocoid +\" \"+ context.global.alarm_msg_09);\ncontext.global.normal_count_09 = 0;\nmsg.payload = PythonPostParam;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["6d02c93c.a958d8","10ef0080.fa0a0f"]]},{"id":"3b63b961.b85e36","type":"function","z":"d7c14ac6.e8dcb8","name":"Normal Begin","func":"if (context.global.normal_count_09 === 0) \n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":635.9999198913574,"y":314.6667003631592,"wires":[["1a7ddf7e.23e661"]]},{"id":"1a7ddf7e.23e661","type":"switch","z":"d7c14ac6.e8dcb8","name":"Send SMS","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":360,"wires":[["7df37304.d1d36c"],["e4048703.12f558"]]},{"id":"dd265ff4.2b23f","type":"function","z":"d7c14ac6.e8dcb8","name":"SMS Message","func":"if (context.global.pumper1_09_status === false && context.global.pumper2_09_status === false) \n{\n    context.global.alarm_msg_09 = \"' Bombas 1 & 2 SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.pumper1_09_status === false) \n{\n    context.global.alarm_msg_09 = \"' Bomba 1 SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.pumper2_09_status === false) \n{\n    context.global.alarm_msg_09 = \"' Bomba 2 SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.available_BL09_water === 0) \n{\n    context.global.alarm_msg_09 = \"' Cisterna SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.available_BL09_water == 110) \n{\n    context.global.alarm_msg_09 = \"' Cisterna Pode Transbordar!'\";\n    context.global.alarm_09 = true;\n}\nelse\n{\n    context.global.alarm_msg_09 = \"' Operando em Condicoes Normais!'\";\n    context.global.alarm_09 = false;\n}\nmsg.payload = context.global.alarm_09;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":276,"y":260,"wires":[["ea2ea699.fc84d8","1032004.6bc38"]]},{"id":"ea2ea699.fc84d8","type":"debug","z":"d7c14ac6.e8dcb8","name":"SMS true or false?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":411,"y":200,"wires":[]},{"id":"6d02c93c.a958d8","type":"debug","z":"d7c14ac6.e8dcb8","name":"SMSs","active":false,"console":"false","complete":"payload","x":830,"y":380,"wires":[]},{"id":"46c9fc77.ec4d74","type":"link out","z":"d7c14ac6.e8dcb8","name":"SendSMS","links":["4c3448e5.c0a0a8","f1d44d6.47e4fb","35b48b8e.61ffa4"],"x":775,"y":220,"wires":[]},{"id":"e72df49f.ac3b88","type":"debug","z":"fab1c394.b3666","name":"Pumpers Actuation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720.1666259765625,"y":124.33331394195557,"wires":[]},{"id":"c0ff8d3b.c84b9","type":"debug","z":"fab1c394.b3666","name":"Actuation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":988,"y":124,"wires":[]},{"id":"1669fe3a.7819a2","type":"function","z":"fab1c394.b3666","name":"Bloco 09 ","func":"var jsonObject = JSON.parse(msg.payload);\n//\nif(jsonObject.hasOwnProperty('autoB1'))\n{\nmsg.payload = jsonObject.autoB1;\n}\n//\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":74,"wires":[["87c048da.ea3e98"]]},{"id":"fcb745d2.babfc8","type":"comment","z":"fab1c394.b3666","name":"From Sensor","info":"","x":130,"y":33,"wires":[]},{"id":"10abfe3e.722f52","type":"function","z":"d7c14ac6.e8dcb8","name":"Life Bloco 09 Water","func":"if ((context.global.L1_Cistern09 === 0) && (context.global.L2_Cistern09 === 0) && (context.global.L3_Cistern09 === 0) && (context.global.L4_Cistern09 === 0)) {\n    context.global.available_BL09_water = 0;\n} else if ((context.global.L1_Cistern09 === 1) && (context.global.L2_Cistern09 === 0) && (context.global.L3_Cistern09 === 0) && (context.global.L4_Cistern09 === 0)) {\n    context.global.available_BL09_water = 33;\n} else if ((context.global.L1_Cistern09 === 1) && (context.global.L2_Cistern09 === 1) && (context.global.L3_Cistern09 === 0) && (context.global.L4_Cistern09 === 0)) {\n    context.global.available_BL09_water = 67;\n} else if ((context.global.L1_Cistern09 === 1) && (context.global.L2_Cistern09 === 1) && (context.global.L3_Cistern09 === 1) && (context.global.L4_Cistern09 === 0)) {\n    context.global.available_BL09_water = 100;\n} else if ((context.global.L1_Cistern09 === 1) && (context.global.L2_Cistern09 === 1) && (context.global.L3_Cistern09 === 1) && (context.global.L4_Cistern09 === 1)) {\n    context.global.available_BL09_water = 110;\n} else {context.global.available_BL09_water = 999;\n}\nmsg.payload = context.global.available_BL09_water;\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["a99c5978.d152e8","3ef7365a.5fddea"]]},{"id":"3e6a37ef.c9eff8","type":"inject","z":"d7c14ac6.e8dcb8","name":"Available","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["10abfe3e.722f52"]]},{"id":"a99c5978.d152e8","type":"debug","z":"d7c14ac6.e8dcb8","name":"BL09 % Water","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":506,"y":140,"wires":[]},{"id":"92e6d8f.3a28128","type":"function","z":"fab1c394.b3666","name":"Pumper1 Act ","func":"context.global.pump1_09_auto_activated = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":996,"y":74,"wires":[["c0ff8d3b.c84b9","3cac0ab9.123306","10cb8b67.2f57d5"]]},{"id":"87c048da.ea3e98","type":"json","z":"fab1c394.b3666","name":"Object","property":"payload","action":"","pretty":false,"x":854,"y":74,"wires":[["92e6d8f.3a28128"]]},{"id":"5de8f243.2770ac","type":"function","z":"fab1c394.b3666","name":"Bloco 09 ","func":"var jsonObject = JSON.parse(msg.payload);\n//\nif(jsonObject.hasOwnProperty('autoB2'))\n{\nmsg.payload = jsonObject.autoB2;\n}\n//\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":174,"wires":[["1ee6d3a1.a13bbc"]]},{"id":"6f4cd777.6d74a8","type":"function","z":"fab1c394.b3666","name":"Pumper2 Act ","func":"context.global.pump2_09_auto_activated = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":996,"y":174,"wires":[["c0ff8d3b.c84b9","83138ed3.0dd06","4de810a.d724ef"]]},{"id":"1ee6d3a1.a13bbc","type":"json","z":"fab1c394.b3666","name":"Object","property":"payload","action":"","pretty":false,"x":855,"y":174,"wires":[["6f4cd777.6d74a8"]]},{"id":"adfecb5c.c939a8","type":"function","z":"fab1c394.b3666","name":"Pump2?","func":"pumper_Status = msg.payload;\nif (pumper_Status == \"Dry2: Water Detected on Pump_2\") {\n    context.global.pumper2_09_status = true;\n}\nelse {\n    context.global.pumper2_09_status = false;\n    }\nmsg.payload = context.global.pumper2_09_status;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":628,"wires":[["ebd5503.f6e28b"]]},{"id":"aa3402a6.3a288","type":"debug","z":"fab1c394.b3666","name":"Pumper2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":980,"y":604,"wires":[]},{"id":"380e1f91.d6c28","type":"debug","z":"d7c14ac6.e8dcb8","name":"SMS Response","active":true,"console":"false","complete":"payload","x":400,"y":320,"wires":[]},{"id":"a7b4853c.ecf468","type":"exec","z":"d7c14ac6.e8dcb8","command":"python3  /home/CondLife/Bloco09/UCC_Send_SMS_Alert.py","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Alarm SMS","x":205.99986267089844,"y":319.4999599456787,"wires":[["380e1f91.d6c28"],["380e1f91.d6c28"],["380e1f91.d6c28"]]},{"id":"35b48b8e.61ffa4","type":"link in","z":"d7c14ac6.e8dcb8","name":"SMS","links":["46c9fc77.ec4d74","10ef0080.fa0a0f"],"x":71.16666412353516,"y":319.0000009536743,"wires":[[]]},{"id":"7df37304.d1d36c","type":"debug","z":"d7c14ac6.e8dcb8","name":"SMSs Not Normal","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":320,"wires":[]},{"id":"10ef0080.fa0a0f","type":"link out","z":"d7c14ac6.e8dcb8","name":"SendSMS","links":["4c3448e5.c0a0a8","f1d44d6.47e4fb","35b48b8e.61ffa4"],"x":795,"y":420,"wires":[]},{"id":"2b717b56.9d9924","type":"function","z":"d7c14ac6.e8dcb8","name":"csmon1","func":"msg.payload = context.global.pumper1_09_status;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":480,"wires":[["163caf7b.a219e1"]]},{"id":"77b4a2be.4fefcc","type":"function","z":"d7c14ac6.e8dcb8","name":"csmon2","func":"msg.payload = context.global.pumper2_09_status;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":520,"wires":[["ec882afc.e0ef48"]]},{"id":"26da32e8.8a4ebe","type":"function","z":"d7c14ac6.e8dcb8","name":"waterlevel","func":"msg.payload = context.global.available_BL09_water;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":560,"wires":[["eff2dba0.e2c108"]]},{"id":"163caf7b.a219e1","type":"rbe","z":"d7c14ac6.e8dcb8","name":"Changed?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":446,"y":480,"wires":[["f8f1646a.972e68"]]},{"id":"ec882afc.e0ef48","type":"rbe","z":"d7c14ac6.e8dcb8","name":"Changed?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":445,"y":520,"wires":[["f8f1646a.972e68"]]},{"id":"eff2dba0.e2c108","type":"rbe","z":"d7c14ac6.e8dcb8","name":"Changed?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":445,"y":560,"wires":[["f8f1646a.972e68"]]},{"id":"89d7b3a0.8205c","type":"inject","z":"d7c14ac6.e8dcb8","name":"Post","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":640,"wires":[["f8f1646a.972e68"]]},{"id":"f7037dcc.a68c7","type":"debug","z":"fab1c394.b3666","name":"Pumper Auto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":894,"y":359,"wires":[]},{"id":"de431a9.3d52ae8","type":"mqtt out","z":"fab1c394.b3666","name":"Pumper 1 Actuation","topic":"/ucc/bloco09/auto/pump1","qos":"","retain":"","broker":"4ff9ea49.695684","x":915,"y":296,"wires":[]},{"id":"3205cb30.98ba84","type":"mqtt out","z":"fab1c394.b3666","name":"Pumper 2 Actuation","topic":"/ucc/bloco09/auto/pump2","qos":"","retain":"","broker":"4ff9ea49.695684","x":917,"y":415,"wires":[]},{"id":"72078c18.ae6124","type":"comment","z":"fab1c394.b3666","name":"Actuation App","info":"","x":530,"y":360,"wires":[]},{"id":"3cac0ab9.123306","type":"link out","z":"fab1c394.b3666","name":"","links":["119cfaf0.09a405"],"x":1135,"y":60,"wires":[]},{"id":"83138ed3.0dd06","type":"link out","z":"fab1c394.b3666","name":"","links":["d2d3fcf7.5e2aa"],"x":1135,"y":180,"wires":[]},{"id":"d2165f60.c53f3","type":"switch","z":"fab1c394.b3666","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":303,"wires":[["8aaf2b42.7f9e48"],["123d06c7.8333f9"]]},{"id":"e0538f6.e9bde7","type":"switch","z":"fab1c394.b3666","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":412,"wires":[["935fb139.f2d65"],["cfd367a1.cd2068"]]},{"id":"119cfaf0.09a405","type":"link in","z":"fab1c394.b3666","name":"Pumper1","links":["3cac0ab9.123306"],"x":479,"y":303,"wires":[["d2165f60.c53f3"]]},{"id":"d2d3fcf7.5e2aa","type":"link in","z":"fab1c394.b3666","name":"Pumper2","links":["83138ed3.0dd06"],"x":479,"y":412,"wires":[["e0538f6.e9bde7"]]},{"id":"123d06c7.8333f9","type":"function","z":"fab1c394.b3666","name":"B1 Off","func":"msg.payload = 'ON';\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":323,"wires":[["f7037dcc.a68c7","de431a9.3d52ae8"]]},{"id":"935fb139.f2d65","type":"function","z":"fab1c394.b3666","name":"B2 Off","func":"msg.payload = 'ON';\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":392,"wires":[["f7037dcc.a68c7","3205cb30.98ba84"]]},{"id":"c127d9de.7712d8","type":"comment","z":"fab1c394.b3666","name":"To Sensor","info":"","x":523,"y":263,"wires":[]},{"id":"cfd367a1.cd2068","type":"function","z":"fab1c394.b3666","name":"B2 On","func":"msg.payload = 'OFF';\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":432,"wires":[["f7037dcc.a68c7","3205cb30.98ba84"]]},{"id":"8aaf2b42.7f9e48","type":"function","z":"fab1c394.b3666","name":"B2 On","func":"msg.payload = 'OFF';\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":283,"wires":[["de431a9.3d52ae8","f7037dcc.a68c7"]]},{"id":"8ce140a2.5311e","type":"link out","z":"fab1c394.b3666","name":"","links":["fd8b9292.6c0fc"],"x":935,"y":520,"wires":[]},{"id":"fd8b9292.6c0fc","type":"link in","z":"fab1c394.b3666","name":"B1 CMD","links":["8ce140a2.5311e"],"x":799,"y":259,"wires":[["de431a9.3d52ae8"]]},{"id":"c3a18ec4.01bc7","type":"function","z":"fab1c394.b3666","name":"Relay 1 On?","func":"if (context.global.pumper1_09_status === false && context.global.pump1_09_auto_activated === true)\n{\n    msg.payload = \"ON\"\n}\nelse\n{\n    msg.payload = \"OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":824,"y":539,"wires":[["8ce140a2.5311e","29e53a2c.b7d226"]]},{"id":"ebd5503.f6e28b","type":"function","z":"fab1c394.b3666","name":"Relay 2 On?","func":"if (context.global.pumper2_09_status === false && context.global.pump2_09_auto_activated === true)\n{\n    msg.payload = \"ON\"\n}\nelse\n{\n    msg.payload = \"OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":628,"wires":[["460f3c55.4c8ee4","aa3402a6.3a288"]]},{"id":"93436cd6.b5104","type":"link in","z":"fab1c394.b3666","name":"B2 CMD","links":["460f3c55.4c8ee4"],"x":799,"y":459,"wires":[["3205cb30.98ba84"]]},{"id":"460f3c55.4c8ee4","type":"link out","z":"fab1c394.b3666","name":"","links":["93436cd6.b5104"],"x":935,"y":645,"wires":[]},{"id":"56642882.481a48","type":"comment","z":"fab1c394.b3666","name":"Actuation Logic","info":"","x":540,"y":500,"wires":[]},{"id":"1c9ed2c7.7a8e3d","type":"function","z":"fab1c394.b3666","name":"Common Post Param","func":"context.global.condoid = 2;\ncontext.global.Cistern09_sensorid = \"UCSCistern09\";\n//\ncontext.global.pumper1_09_blocoid = 09;\ncontext.global.pumper2_09_blocoid = 09;\ncontext.global.pumper1_09_id = \"Pumper1\";\ncontext.global.pumper2_09_id = \"Pumper2\";\ncontext.global.normal_count_09 = 0;\n//\ncontext.global.Cistern09_poleid = 1;\ncontext.global.pump1_09_auto_activated = true;\ncontext.global.pump2_09_auto_activated = true;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["7df59a6b.0d3504"]]},{"id":"7df59a6b.0d3504","type":"debug","z":"fab1c394.b3666","name":"Post Param","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":998.0001907348633,"y":699.3333625793457,"wires":[]},{"id":"d92eccf2.1f363","type":"inject","z":"fab1c394.b3666","name":"Set BL09 Pumpers ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":586.000057220459,"y":700.3333444595337,"wires":[["1c9ed2c7.7a8e3d"]]},{"id":"19a6dd32.fb14f3","type":"mqtt in","z":"fab1c394.b3666","name":"Cistern 09 Auto Status","topic":"/ucc/cist09/autostatus","qos":"2","broker":"4ff9ea49.695684","x":160,"y":596,"wires":[["1f56aa1f.cf1506"]]},{"id":"72a1db54.ac3a14","type":"function","z":"fab1c394.b3666","name":"Global AutoStatus_Cistern09","func":"context.global.AutoStatus_Cistern09 = msg.payload;\nif(context.global.AutoStatus_Cistern09 == 1)\n{\n    context.global.AutoStatus_Cistern09 = true\n}\nelse\n{\n    context.global.AutoStatus_Cistern09 = false\n}\nmsg.payload = context.global.AutoStatus_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":691,"wires":[["62d8abcf.132704","3c465a99.56b1a6"]]},{"id":"62d8abcf.132704","type":"debug","z":"fab1c394.b3666","name":"Auto Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":647,"wires":[]},{"id":"1f56aa1f.cf1506","type":"json","z":"fab1c394.b3666","name":"Object","property":"payload","action":"","pretty":false,"x":110,"y":647,"wires":[["72a1db54.ac3a14"]]},{"id":"8b0b181d.1ddc58","type":"function","z":"d7c14ac6.e8dcb8","name":"autostatus","func":"msg.payload = context.global.AutoStatus_Cistern09;\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":600,"wires":[["c86b145d.ed7838"]]},{"id":"c86b145d.ed7838","type":"rbe","z":"d7c14ac6.e8dcb8","name":"Changed?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":444,"y":600,"wires":[["f8f1646a.972e68"]]},{"id":"48961cc9.2dfc24","type":"function","z":"d7c14ac6.e8dcb8","name":"SMS Message","func":"if (context.global.pumper1_09_status === false) \n{\n    context.global.alarm_msg_09 = \"' Bomba 1 SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.pumper2_09_status === false) \n{\n    context.global.alarm_msg_09 = \"' Bomba 2 SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.available_BL09_water === 0) \n{\n    context.global.alarm_msg_09 = \"' Cisterna SEM AGUA!'\";\n    context.global.alarm_09 = true;\n}\nelse if (context.global.available_BL09_water == 110) \n{\n    context.global.alarm_msg_09 = \"' Cisterna Pode Transbordar!'\";\n    context.global.alarm_09 = true;\n}\nelse\n{\n    context.global.alarm_msg_09 = \"' Operando em Condicoes Normais!'\";\n    context.global.alarm_09 = false;\n}\nmsg.payload = context.global.alarm_09;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":220,"y":200,"wires":[[]]},{"id":"41408a54.1cefc4","type":"ui_gauge","z":"fab1c394.b3666","name":"Temp","group":"14052d1c.52f7c3","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":160,"wires":[]},{"id":"c7819805.419088","type":"ui_gauge","z":"fab1c394.b3666","name":"Humi","group":"14052d1c.52f7c3","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value}}","min":0,"max":"95","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":60,"wires":[]},{"id":"3ef7365a.5fddea","type":"ui_gauge","z":"d7c14ac6.e8dcb8","name":"Water Level","group":"14052d1c.52f7c3","order":3,"width":0,"height":0,"gtype":"gage","title":"Water Level","label":"Percent","format":"{{value}}","min":0,"max":"110","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"3c465a99.56b1a6","type":"ui_text","z":"fab1c394.b3666","group":"74d09cc5.fe3264","order":4,"width":0,"height":0,"name":"","label":"Major Auto Status","format":"{{msg.payload}}","layout":"row-left","x":313,"y":731,"wires":[]},{"id":"10cb8b67.2f57d5","type":"ui_text","z":"fab1c394.b3666","group":"74d09cc5.fe3264","order":5,"width":0,"height":0,"name":"Auto B1","label":"Auto B1","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":32,"wires":[]},{"id":"4de810a.d724ef","type":"ui_text","z":"fab1c394.b3666","group":"74d09cc5.fe3264","order":6,"width":0,"height":0,"name":"Auto B2","label":"Auto B2","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":220,"wires":[]},{"id":"9955f052.1aaec","type":"inject","z":"d55e2e69.58932","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[[]]}]